in_program_name, data_name, plotted_name, format, type
r, reward, r, %d, int
rew['shortmean'], reward short average, $\bar{r}$, %.2f, float
rew['longmean'], reward long average, $\bar{\bar{r}}$, %.4f, float
choice, choice, Choice, %d, int
Q, Qvals, Q-values, %s, dict
alpha.m, alpha, $\alpha$, %.4f, float
alpha.b, alpha_b, $\alpha_b$, %.4f, float
alpha.b0, alpha_b0, $\alpha_{b0}$, %.4f, float
beta.m, beta, $\beta$, %.4f, float
beta.b, beta_b, $\beta_b$, %.4f, float
beta.b0, beta_b0, $\beta_{b0}$, %.4f, float
gamma.m, gamma, $\gamma$, %.4f, float
gamma.b, gamma_b, $\gamma_b$, %.4f, float
gamma.b0, gamma_b0, $\gamma_{b0}$, %.4f, float
Stmo, state, State, %s, int
